.login-btn {margin-top:8px}

.avatar-topnav {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-top: -5px;
  border: 1px solid white;
  border-radius: 50%;
}

.blog-body {
  margin-top: 50px;
}

.mt100 {
  margin-top: 100px;
}

.blog-container {
  padding-top: 30px;
}

.split-line {
  margin-top: 20px;
  border: 0;
  border-top: 1px solid #444
}
