.login-btn {margin-top:8px}

.avatar-topnav {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-top: -5px;
  border: 1px solid white;
  border-radius: 50%;
}

.mt100 {
  margin-top: 100px;
}

.mt50 {
  margin-top: 50px;
}

.split-line {
  margin-top: 20px;
  border: 0;
  border-top: 1px solid #444
}

.center {
    text-align: center;
}

.profile {
  background-color: #222;
  color: #dedede;
}

